#AllCommandsButton {
  float:right;
}

.auroraBotImage {
  height:120px;
  width:120px;
  background-image:url(../../assets/img/AuroraBot.png);
  border-radius:45px;
  border:2px solid #ffffff;
  margin:0 auto;
}

.spacer {
  height:20px;
}

.spacerSecond {
  height:100px;
}

