body {
  background-color:#17182f;
}

.topbar {
  min-height:60px;
  width:100%;
  background-color:#17112f;
}

.topbar_inner {
  max-width:1000px;
  margin:0 auto;
  padding-top:10px;
}

.topbar_title {
  color:white;
  font-family:ABeeZee;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:5px;
  margin-right:20px;
  width:155px;
  display:inline-block;
}

.topbar_button_dropdown {
  display:inline-block;
}

.topbar_button {
  margin-top:-12px;
  display:inline-block;
  font-family:ABeeZee;
  background-color:#17112f;
  margin-right:10px;
}

.dropdown-item {
  font-family:ABeeZee;
  font-size:14px;
}

.topbar-discord {
  background-color:#7289DA;
  border-color:#7289DA;
  font-family:ABeeZee;
  float:right;
  height:40px;
  margin-right:10px;
  border-radius:2px;
  padding-left:20px;
  padding-right:20px;
  padding-top:6px;
}

.topbar-discord:hover {
  background-color:#000d33;
  border-color:#FFF;
  border-radius:2px;
}

.topbar_invite {
  font-family:'ABeeZee';
  float:right;
  height:40px;
  margin-right:10px;
  padding-left:10px;
  background-color:rgba(0,0,0,1);
}

.topbar_discord_icon {
  height:24px;
  margin-left:5px;
}

.button-icon {
  margin-left:8px;
}

.dropdown-item:hover {
  background-color:#ddd;
}

canvas {
  display:block;
  vertical-align:bottom;
}

.particle-container {
  height:600px;
  background-color:#17182f;
  position:absolute;
  width:100%;
  z-index:-1;
}

.content-container {
  margin:0 auto;
  margin-top:120px;
  max-width:1000px;
  margin-bottom:10px;
}

.title {
  font-family:'ABeeZee';
}

.main-p {
  margin-bottom:40px;
}

.button-attempt {
  background-image:url("https://img00.deviantart.net/6442/i/2017/124/f/7/galaxy_swirl_planet_wallpaper_by_pizzasmiles-daqtef4.jpg");
  content:' ';
  display:inline-block;
  width:80%;
  margin-left:10%;
  height:80px;
  border-radius:0px;
  margin-bottom:10px;
  font-family:'ABeeZee';
  font-size:24px;
  text-align:left;
}

.button-attempt {
  -webkit-filter:brightness(60%);
  filter:brightness(60%);
}

.button-attempt:hover {
  -webkit-filter:brightness(100%);
  filter:brightness(100%);
}

.button-attempt-a {
  background-position:0px -110px;
  padding-left:20px;
}

.button-attempt-b {
  background-position:0px -200px;
  padding-left:60px;
}

.button-attempt-c {
  background-position:0px -290px;
  padding-left:100px;
}

.divider {
  width:100%;
  height:4px;
  background-color:#2e225e;
}

.base-secondary {
  width:100%;
  height:auto;
  background-color:#17182f;
}

.info-screen-tile-top {
  height:30px;
}

.info-screen-tile {
  background-color:#0755b6;
  padding:5px;
  margin-bottom:10px;
  filter:drop-shadow(5px 5px 2px #4444dd);
  border:1px solid #000;
}

.skew-container {
  transform:skew(2deg);
  margin:0;
}

.info-screen {
  width:100%;
  height:auto;
}

.info-text {
  margin-left:10px;
  margin-right:10px;
  margin-bottom:5px;
  font-size:14px;
}

.float-right {
  float:right;
}

.footer {
  min-height:60px;
}

.sub-button {
  width:100%;
  height:40px;
  margin-bottom:10px;
  background-color:#17112f;
  font-family:'ABeeZee';
}

.info-screen-patreon {
  margin-top:40px;
  margin-bottom:20px;
}

.info-screen-commands {
  height:120px;
  line-height:120px;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
}

.sub-p {
  margin-bottom:40px;
}

.sub-p.sub-p-top {
  margin-top:40px;
}

.sub-divider {
  height:1px;
  background-color:#0755b6;
  margin-top:15px;
  margin-bottom:15px;
}

.sub-divider-bottom {
  margin-bottom:28px;
}

.info-command-text {
  display:inline-block;
  vertical-align:middle;
  line-height:normal;
}

.modal-dark {
  color:#FFF;
  background-color:#17112f;
  border:0px solid #17112f;
}

#footer-p {
  margin-top:5px;
  margin-bottom:10px;
  padding-left:10px;
  padding-right:10px;
}

#copyright-p {
  font-size:12px;
  margin-bottom:5px;
}

.module-icon {
  color:#fff;
  margin-left:20px;
  margin-right:20px;
}

.developer-score {
  width:100%;
  height:100px;
  background-color:transparent;
  border-top:1px solid #0755b6;
  border-bottom:1px solid #0755b6;
  /*border-radius:4px;*/
  padding-top:1px;
  margin-top:40px;
  margin-bottom:40px;
}

.developer-score-inner {
  max-width:1000px;
  height:100%;
  margin:0 auto;
}

.developer-score:hover {
  background-color:#0755b6;
}

.developer-image {
  width:80px;
  border-radius:4px;
  margin-left:6px;
  margin-top:8px;
  display:inline-block;
  float:left;
  border:1px solid #fff;
  background-color:#0094ff;
}

.developer-text {
  display:inline-block;
  margin-top:2px;
}

.developer-heading {
  margin-left:10px;
  color:white;
  width:200px;
  margin-bottom:0px;
}

.developer-button {
  border-radius:0px;
  margin-left:10px;
  width:100px;
  height:25px;
  margin-top:8px;
  padding-top:5px;
  font-family:'ABeeZee';
  font-size:10px;
}

.developer-icon {
  height:20px;
  width:26px;
  margin-top:2px;
  margin-left:5px;
  background-color:transparent;
  position:absolute;
  padding:0px;
  border:0px;
}

.developer-icon-b {
  margin-left:30px;
}

.developer-icon-c {
  margin-left:55px;
}

.icon-container {
  color:white;
  text-align:center;
}

.aurora-icon-sm {
  margin-left:5px;
  margin-right:5px;
}

.btn-hidden-commands {
  background-color:transparent;
  border:0px;
}

.scroll-button {
  width:100%;
  height:40px;
  background-color:transparent;
  border:0px;
  margin-top:40px;
  margin-bottom:10px;
}

.scroll-button:hover {
  background-color:transparent;
}

.scroll-button:onclick {
  background-color:transparent;
}

